.navbar {
  display: flex;
  flex-direction: row;
  justify-content: start;

  align-items: center;
  justify-content: space-between;
}
.acme {
  weight: 1rem;
  height: 1rem;
  background-color: rgb(251, 251, 251);
  border: 1px solid grey;
  border-radius: 20%;
  margin: auto;
}
.search {
}

.cart {
  weight: 1rem;
  height: 1rem;
}
.side-options {
  margin: 0rem 4rem;
  display: flex;
  justify-content: space-between;
}
.top {
  color: rgb(95, 93, 93);
  font-size: large;
}
.bag {
  width: 15rem;
  height: 15rem;
}
.footer {
  display: flex;
}
.footer-option {
  color: rgb(252, 16, 16);
}
